* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
}

h3 {
  padding: 20px;
}

/*flex*/
.flex {
  display: flex;
}

.no-flex {
  background-color: red;
  width: 300px;
  height: 300px;
  padding: 10px;
}

.no-flex > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.display-flex {
  background-color: red;
  width: 300px;
  height: 300px;
  padding: 10px;
  display: flex;
}

.display-flex > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

/*flex-direction*/

.row {
  background-color: orange;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.row > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.row-reverse {
  background-color: orange;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.row-reverse > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.column {
  background-color: orange;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.column > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.column-reverse {
  background-color: orange;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.column-reverse > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

/*flex-wrap*/

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.no-wrap {
  width: 300px;
  height: 300px;
  background-color: yellow;
  padding: 10px;
  display: flex;
}

.no-wrap > div {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.wrap {
  width: 300px;
  height: 300px;
  background-color: yellow;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.wrap > div {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.wrap-reverse {
  width: 300px;
  height: 300px;
  background-color: yellow;
  padding: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.wrap-reverse > div {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

/*justify-content*/

.justify-content-flex-start {
  display: flex;
  justify-content: flex-start;
  background-color: green;
}

.justify-content-flex-start > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
  background-color: green;
}

.justify-content-flex-end > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.justify-content-center {
  display: flex;
  justify-content:center;
  background-color: green;
}
.justify-content-center > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
  background-color: green;
}

.justify-content-space-between > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.justify-content-space-around {
  display: flex;
  justify-content: space-around;
  background-color: green;
}

.justify-content-space-around > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

/*align-items*/
.align-items {
  display: flex;
  flex-wrap: wrap;
}

.align-items-stretch {
  background-color: blue;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: stretch;
  margin: 20px;
}

.align-items-stretch > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.align-items-flex-start {
  background-color: blue;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.align-items-flex-start > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.align-items-flex-end {
  background-color: blue;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: flex-end;
  margin: 20px;
}

.align-items-flex-end > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.align-items-center {
  background-color: blue;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.align-items-center > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.align-items-flex-baseline {
  background-color: blue;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: baseline;
  margin: 20px;
}

.align-items-flex-baseline > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

/*align-co¥ntent*/
.align-content {
  display: flex;
  flex-wrap: wrap;
}

.align-content-stretch {
  background-color: red;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 20px;
}

.align-content-stretch > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.align-content-flex-start {
  background-color: red;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 20px;
}

.align-content-flex-start > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.align-content-flex-end {
  background-color: red;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  margin: 20px;
}

.align-content-flex-end > div {
 background-color: #fff;
 margin: 5px;
 font-size: 30px;
}

.align-content-center {
  background-color: red;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 20px;
}

.align-content-center > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.align-content-space-between {
  background-color: red;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 20px;
}

.align-content-space-between > div{
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}

.align-content-space-around {
  background-color: red;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 20px;
}

.align-content-space-around > div{
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}